@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
}

body {
  background-color: #FFCB05;
  margin: 0;
  padding: 0;
  color: #B4AA99;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }

/*Cuerpo de la páginas*/

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.titulo{
    display: flex;
    background-color: #FFCB05;
}

.titulo h1 {
  font-family: 'Space Mono', monospace;
  font-size: 10rem;
  color: #009878;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
  
.titulo h1:hover {
    background-color: #009878;
    color: #4D4637;
}

section:nth-child(2) {
    color: #2A75BB;
    background-color: #FFCB05;
}

section .container-interno {
    margin: 100px;
}

.titulo-cartas {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 2rem;
    border: .5rem solid #00D8AC;
    background-color: white;
}

section .cartas {
    display: flex;
}

section .cartas .texto-cartas {
    background-color: #00D8AC;
    margin: 20px;
    padding: 20px;
    border-radius: 2rem;
    border: .3rem solid #009878;
}

section .cartas .texto-cartas h3 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (max-width: 900px) {
    section h1 {
        font-size: 40px;
    }

    section .cartas {
        flex-direction: column;
    }
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.reglamento {
    color: white;
    background-color: #FFCB05;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
}

.reglamento h1 {
    justify-self: center;
    align-self: center;
    font-size: 3rem;
    text-transform: uppercase;
}

.reglamento h2 {
    font-size: 2rem;
}

.linea {
    background-image: linear-gradient(to right, #ff0505, #d20021, #a20028, #710b26, #42101d, #3e2131, #39303a, #3b3b3b, #676767, #979797, #cacaca, #ffffff);
    height: .3rem;
    width: 100%;
}

.linea-divisora {
    background-color: #2A75BB;
    height: .75rem;
    width: 100%;
}

.titulo-reglas {
    font-size: 2rem;
    justify-content: flex-start;
    margin-top: 2rem;
}

.trofeo {
    justify-self: center;
    align-self: center;
    width: 50rem;
}

.descripcion{
    align-self: center;
}

.llaves {
    display: flex;
    justify-content: flex-start;
}

.llaves-titulo {
    color: white;
    font-size: 4rem;
    margin-top: 3rem;
    padding: .5rem;
    border-radius: 25px;
    border: .3rem dashed red;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.fixture {
    color: #2A75BB;
    text-align: center;
    justify-content: center;
    font-size: 5rem;
    font-weight: 900;
}

.info {
    margin: 10rem;
    background-color: #00D8AC;
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    border: .5rem solid #009878;
    border-radius: 2rem;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

footer .gallade{
    width: 15rem;
}

footer .mega-rayquaza{
    width: 15rem;
}

footer .hawlucha{
    width: 15rem;
}
